# libraries

In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm

# First Part (create the data base)

In [2]:
def CreateDataBase(database, user, password, host, port, newBase):

    sqlQuery = 'CREATE database ' + newBase
    
    engine = create_engine(str('postgresql://postgres:'+password+'@'+host+':'+port+'/'+database))
    conn = engine.connect()
    conn.execute("commit")

    conn.execute(sqlQuery)
    print("Database " + newBase +" created successfully........")
    conn.close()


    engine.dispose()

In [3]:
CreateDataBase(database="postgres", user='postgres', password='20906540', host='127.0.0.1', port= '5432', newBase = "factory" )

Database factory created successfully........

# Second Part (Creat a table from a DataFrame)

In [4]:
def createTable(data, table, database, user, password, host, port):
    

    data.location = data.location.apply(lambda x: str(x).replace("'", "’"))
    
    engine = create_engine(str('postgresql://postgres:'+password+'@'+host+':'+port+'/'+database))

    k = []
    for n in range(len(data.dtypes)):
        if data.dtypes[n] == 'object':
            k.append(data.dtypes.index[n] + " TEXT")
        if data.dtypes[n] == 'int64' or data.dtypes[n] == 'float64':
            k.append(data.dtypes.index[n] + " FLOAT")


    k1 = list(data.dtypes.index)

    sql = 'CREATE TABLE '+table+'(' + ", ".join(k) + ", UNIQUE (" + ", ".join(k1)+"))" 
    data = data.fillna("NoValue")
    data = data.set_index(data.columns[0])
    engine.execute(sql)
    
    data = data.reset_index()



    for m in tqdm(range(len(data))):
        k1 = list(data.loc[m].fillna("NoValue").index)
        k1 = [str(a) for a in k1]
        k1 = ", ".join(k1)


        k = data.loc[m].fillna("NoValue").to_list()
        for i in range(len(k)):
            if str(type(k[i])) == "<class 'str'>":
                k[i] = "'" + k[i] + "'"
        k = [str(a) for a in k]
        k = [a.replace(",", "") for a in k]
        k = ", ".join(k)

        try:
            sql = '''INSERT INTO public.'''+ table +'''('''+k1+ ") VALUES ("+k+ ") ON CONFLICT DO NOTHING"
            engine.execute(sql)
        except:
            print("Fila " + str(m) +" no insertada")

In [5]:
data = pd.read_csv("table_1.csv")
data = data
createTable(data = data, table = "tabla", database="factory", user='postgres', password='20906540', host='127.0.0.1', port= '5432')

 75%|█████████████████████████████████████████████████████████▌                   | 1611/2154 [00:05<00:01, 290.26it/s]

Fila 1580 no insertada

100%|█████████████████████████████████████████████████████████████████████████████| 2154/2154 [00:07<00:00, 295.92it/s]

# Third Part (Insert without Duplicated)

In [6]:
def InsertInTable(data, table, database, user, password, host, port):
    
    engine = create_engine(str('postgresql://postgres:'+password+'@'+host+':'+port+'/'+database))

    data = pd.read_csv("table_1.csv")
    data.location = data.location.apply(lambda x: str(x).replace("'", "’"))
    data.text = data.location.apply(lambda x: str(x).replace(",", " "))

    for n in tqdm(range(len(data))):
        k1 = list(data.loc[n].fillna("NoValue").index)
        k1 = [str(a) for a in k1]
        k1 = ", ".join(k1)


        k = data.loc[n].fillna("NoValue").to_list()
        for i in range(len(k)):
            if str(type(k[i])) == "<class 'str'>":
                k[i] = "'" + k[i] + "'"
        k = [str(a) for a in k]
        k = [a.replace(",", "") for a in k]
        k = ", ".join(k)


        sql = '''INSERT INTO public.'''+ table +'''('''+k1+ ") VALUES ("+k+ ") ON CONFLICT DO NOTHING"
        try:
            engine.execute(sql)
        except:
            print("Fila " + str(n) +" no insertada")
            
    engine.dispose()

In [7]:
data = pd.read_csv("table_2.csv")

In [8]:
InsertInTable(data,"tabla", database="factory", user='postgres', password='20906540', host='127.0.0.1', port= '5432')

 21%|████████████████▌                                                             | 457/2154 [00:01<00:04, 361.95it/s]

Fila 410 no insertada

 30%|███████████████████████▎                                                      | 643/2154 [00:02<00:04, 364.49it/s]

Fila 597 no insertada
Fila 611 no insertada
Fila 657 no insertada
Fila 678 no insertada

 34%|██████████████████████████▏                                                   | 722/2154 [00:02<00:03, 363.23it/s]

Fila 735 no insertada

 51%|███████████████████████████████████████                                      | 1094/2154 [00:03<00:02, 412.13it/s]

Fila 1046 no insertada

 65%|██████████████████████████████████████████████████▎                          | 1406/2154 [00:04<00:02, 339.94it/s]

Fila 1362 no insertada

 76%|██████████████████████████████████████████████████████████▌                  | 1637/2154 [00:04<00:01, 298.26it/s]

Fila 1580 no insertada

 79%|████████████████████████████████████████████████████████████▋                | 1696/2154 [00:05<00:01, 275.00it/s]

Fila 1642 no insertada

100%|█████████████████████████████████████████████████████████████████████████████| 2154/2154 [00:06<00:00, 329.24it/s]

In [8]:
data

,id,author,subreddit,date,text,source,location,negative,neutral,positive,compound,analysis,keyword
0,6c51302b-2a08-4010-9d9b-88977791a1ea,pennykirk583,NaN,1627572077,is that joe biden,twitter,"Seattle, WA",0.000,1.000,0.000,0.0000,neutral,Biden
1,6c51302b-2a08-4010-9d9b-88977791a1ea,mdbsat,NaN,1627572077,i naively thought once biden won i would stop ...,twitter,"San Antonio, TX",0.292,0.417,0.292,0.0000,neutral,Biden
2,6c51302b-2a08-4010-9d9b-88977791a1ea,davidbr11505741,NaN,1627572077,postal union refuses bidens mandatory vaccinat...,twitter,"Georgia, USA",0.000,0.874,0.126,0.0772,positive,Biden
3,6c51302b-2a08-4010-9d9b-88977791a1ea,ENDOFET3RNITY,NaN,1627572076,joe biden has unfollowed dababy on instagram,twitter,NaN,0.000,1.000,0.000,0.0000,neutral,Biden
4,6c51302b-2a08-4010-9d9b-88977791a1ea,yanetCornell,NaN,1627572076,barr comes back to help trump dismantle bidenp...,twitter,NaN,0.189,0.651,0.160,-0.1280,negative,Biden
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3124,da06bd16-248e-4a3f-98a9-60ef2d86ceed,GivingClassroom,NaN,1627764756,smoke \nare you a classroom teacher \ndo y...,twitter,"Manhattan, NY",0.000,0.876,0.124,0.4019,positive,Amazon
3125,da06bd16-248e-4a3f-98a9-60ef2d86ceed,Sajjada66897302,NaN,1627764755,tesla elonmask \nbabydogecoin \nbabydogearmy...,twitter,NaN,0.000,0.698,0.302,0.8779,positive,Amazon
3126,da06bd16-248e-4a3f-98a9-60ef2d86ceed,Bread1170,NaN,1627764755,would become the largest bookstore ever if it...,twitter,"Midlothian, TX",0.000,1.000,0.000,0.0000,neutral,Amazon
3127,da06bd16-248e-4a3f-98a9-60ef2d86ceed,marillion13,NaN,1627764755,\nsince the greatesthitsofbobseger cd is defec...,twitter,"Baden-Württemberg, D",0.046,0.700,0.254,0.8735,positive,Amazon
3128,da06bd16-248e-4a3f-98a9-60ef2d86ceed,Sohel1973,NaN,1627764748,best ways to make money onlineearn a day and ...,twitter,"Dhaka, Bangladesh",0.000,0.724,0.276,0.6369,positive,Amazon

In [17]:
sql

"INSERT INTO public.fa(id, author, subreddit, date, text, source, location, negative, neutral, positive, compound, analysis, keyword) VALUES ('6c51302b-2a08-4010-9d9b-88977791a1ea', 'pennykirk583', 'NoValue', 1627572077, ' is that joe biden', 'twitter', 'Seattle WA', 0.0, 1.0, 0.0, 0.0, 'neutral', 'Biden') ON CONFLICT ON CONSTRAINT uc_tab DO UPDATE SET note = EXCLUDED.note"

In [39]:
ON CONFLICT ON CONSTRAINT uc_tab DO UPDATE SET note = EXCLUDED.note

"INSERT INTO public.factorytest(id, author, date, text, source, location, negative, neutral, positive, compound, analysis, keyword) VALUES ('6c51302b-2a08-4010-9d9b-88977791a1ea', 'CitizensVoice', 1627572072, 'boston ap — the biden administration will allow a nationwide ban on evictions to expire saturday arguing that its hands are tied after the supreme court signaled it could only be extended until the end of the month ', 'twitter', 'Wilkes-Barre Pa.', 0.15, 0.726, 0.125, -0.2732, 'negative', 'Biden')"

In [139]:
host="localhost"
database="fa"
user="postgres"
password="20906540"
port= '5432'

In [140]:
engine = create_engine(str('postgresql://postgres:'+password+'@'+host+':'+port+'/'+database))

In [143]:
engine.execute(sql)

ProgrammingError: (psycopg2.errors.UndefinedObject) no existe la restricción «uc_tab» para la tabla «fa»

[SQL: INSERT INTO public.fa(id, author, date, text, source, location, negative, neutral, positive, compound, analysis, keyword) VALUES ('6c51302b-2a08-4010-9d9b-88977791a1ea', 'pennykirk583', 1627572077, ' is that joe biden', 'twitter', 'Seattle WA', 0.0, 1.0, 0.0, 0.0, 'neutral', 'Biden') ON CONFLICT ON CONSTRAINT uc_tab DO UPDATE SET note = EXCLUDED.note]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [67]:
#Establishing the connection
conn = psycopg2.connect( database="factorytest", user='postgres', password='20906540', host='127.0.0.1', port= '5432')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
# cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# #Creating table as per requirement
# sql ='''CREATE TABLE EMPLOYEE(
#    FIRST_NAME CHAR(20) NOT NULL ,
#    LAST_NAME CHAR(20),
#    AGE INT,
#    SEX CHAR(1),
#    INCOME FLOAT
# )'''
sql = 'CREATE TABLE EMPLOYEE(' + var1 + ')'

cursor.execute(sql)
print("Table created successfully........")

#Closing the connection
conn.close()

Table created successfully........

In [75]:
sql = 'CREATE TABLE EMPLOYEE(' + var1 + ')'
sql

'CREATE TABLE EMPLOYEE(id VARCHAR(1000) , author VARCHAR(1000) , subreddit VARCHAR(1000) , date FLOAT , text VARCHAR(1000) , source VARCHAR(1000) , location VARCHAR(1000) , negative FLOAT , neutral FLOAT , positive FLOAT , compound FLOAT , analysis VARCHAR(1000) , keyword VARCHAR(1000) )'

In [87]:
host="localhost"
database="factorytest"
user="postgres"
password="20906540"
port= '5432'
conect = 'dbname=' + database + ' user=' + user + ' password='+ str(password) + ' host=' + host +  ' port=' +port 
conn = psycopg2.connect(conect)

cursor = conn.cursor()

cursor.execute('''INSERT INTO public."EMPLOYEE"(id, author, subreddit, date, text, source, location, negative, neutral, positive, compound, analysis, keyword) VALUES ('6c51302b-2a08-4010-9d9b-88977791a1ea', 'mdbsat100', 'nan', 1627572077, 'i naively thought once biden won i would stop feeling like i took crazy pills everyday \n\nboy was i wrong\n\nwearamask', 'twitter', 'San Antonio TX', 0.292, 0.417, 0.292, 0.0, 'neutral', 'Biden')''')
print("Table created successfully........")
conn.close()

Table created successfully........

In [97]:
k = []
for i in range(len(data.dtypes)):
    if data.dtypes[i] == 'object':
        k.append(data.dtypes.index[i] + " VARCHAR(1000)")
    if data.dtypes[i] == 'int64' or data.dtypes[i] == 'float64':
        k.append(data.dtypes.index[i] + " FLOAT")
  

k1 = list(data.dtypes.index)
 
sql = 'CREATE TABLE EMPLOYEE1(' + ", ".join(k) + ", UNIQUE (" + ", ".join(k1)+"))"

In [94]:
sql

'CREATE TABLE EMPLOYEE(id VARCHAR(1000), author VARCHAR(1000), subreddit VARCHAR(1000), date FLOAT, text VARCHAR(1000), source VARCHAR(1000), location VARCHAR(1000), negative FLOAT, neutral FLOAT, positive FLOAT, compound FLOAT, analysis VARCHAR(1000), keyword VARCHAR(1000), UNIQUE (id, author, subreddit, date, text, source, location, negative, neutral, positive, compound, analysis, keyword)'

In [78]:
UNIQUE (aaa,bbb)

'CREATE TABLE EMPLOYEE(id VARCHAR(1000), author VARCHAR(1000), subreddit VARCHAR(1000), date FLOAT, text VARCHAR(1000), source VARCHAR(1000), location VARCHAR(1000), negative FLOAT, neutral FLOAT, positive FLOAT, compound FLOAT, analysis VARCHAR(1000), keyword VARCHAR(1000))'

In [106]:
k1 = list(data.loc[10].dropna().index)
k1 = [str(a) for a in k1]
k1 = ", ".join(k1)
k1

'id, author, date, text, source, location, negative, neutral, positive, compound, analysis, keyword'

In [107]:
k = data.loc[10].dropna().to_list()
for i in range(len(k)):
    if str(type(k[i])) == "<class 'str'>":
        k[i] = "'" + k[i] + "'"
k = [str(a) for a in k]
k = [a.replace(",", "") for a in k]
k = ", ".join(k)
k

"'6c51302b-2a08-4010-9d9b-88977791a1ea', 'CitizensVoice', 1627572072, 'boston ap — the biden administration will allow a nationwide ban on evictions to expire saturday arguing that its hands are tied after the supreme court signaled it could only be extended until the end of the month ', 'twitter', 'Wilkes-Barre Pa.', 0.15, 0.726, 0.125, -0.2732, 'negative', 'Biden'"

In [104]:
sql = '''INSERT INTO public."EMPLOYEE"('''+k1+ ") VALUES ("+k+ ")"

In [105]:
sql

'INSERT INTO public."EMPLOYEE"(id, author, date, text, source, location, negative, neutral, positive, compound, analysis, keyword) VALUES (\'6c51302b-2a08-4010-9d9b-88977791a1ea\', \'mdbsat\', 1627572077, \'i naively thought once biden won i would stop feeling like i took crazy pills everyday \n\nboy was i wrong\n\nwearamask\', \'twitter\', \'San Antonio TX\', 0.292, 0.417, 0.292, 0.0, \'neutral\', \'Biden\')'

In [ ]:
sql = """INSERT INTO EMPLOYEE(
   FIRST_NAME, LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""

In [37]:
data.loc[1].index

Index(['id', 'author', 'subreddit', 'date', 'text', 'source', 'location',
       'negative', 'neutral', 'positive', 'compound', 'analysis', 'keyword'],
      dtype='object')

In [6]:
data = pd.read_csv("table_1.csv")

In [15]:
pol = data.loc[1580]["text"]

In [8]:
string = 'mmmmmmmmmmm'
string[0:1000]

'mmmmmmmmmmm'

In [122]:
rs = engine.execute('CREATE database ' + "lk")

InternalError: (psycopg2.errors.ActiveSqlTransaction) CREATE DATABASE no puede ser ejecutado dentro de un bloque de transacción

[SQL: CREATE database lk]
(Background on this error at: https://sqlalche.me/e/14/2j85)